[package]
name = "lexer"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
repository.workspace = true

[dependencies]
# Local crates
syntax = { path = "../syntax" }

[dev-dependencies]
pretty_assertions.workspace = true

# Non-local crates
triomphe.workspace = true
