[package]
name = "parser"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
repository.workspace = true

[dependencies]
# Local crates
lexer.workspace = true
syntax.workspace = true

# Non-local crates
